/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2014, 1:23:15 PM
    Author     : villiam
*/
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
html, body {
    height:100%;
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:#f4eee2;
    background-image:url(../img/noise.png);
}
#main{
    
    width:900px;
    margin: auto;
    height:auto;
}

/*Header*/
header{
    width:100%;
    height:60px;
    background-color:#fff;
    //background-image:url(../images/noise.png);
}

#header_wrapper{
    width: 900px;
    height: 60px;
    margin: auto;
}
.banner{
    width: 300px;
    height: 60px;
    float:left;
    left:60px;
    background-image: url(../img/banner.png);
    background-position: center top;
    background-repeat: no-repeat;
}
.navigation{
    width: auto;
    float: right;
    height: 60px;
    right: 60px;
}
.navigation a{
    margin:auto;
    text-decoration: none;
    padding-top: 20px;
    display: block;
    height:60px;
    font-family: 'Segoe UI', serif;
    font-weight: lighter;
    color:#151737;
    text-align: center;
    vertical-align: baseline;
    transition: color 300ms ease-out 0s;
}
.navigation a:hover{
    color:#4878c3;
}
.navigation_element{
    width:130px;
    height: 60px;
    float:left;
    transition: border-bottom 200ms ease-in 0s;
   
    
}
.navigation_element:hover{
    border-bottom: 1px solid #7d74bb
}

/*Content*/
    .sub_navigation{
    position: relative;
    height:60px;
    top:0;
    right:0;
}

#main_content{
    position:relative;
    height: auto;
}
#main_wrapper{
    width:900px;
    height: auto;
    margin:auto;    
}

.info_wrapper{
    width: 850px;
    height:auto;
    margin-top: 30px;
    font-family: 'Segoe UI', serif;
    font-weight: 300;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #cfc4b3;
}
.info_header{
    height:auto;
    width:850px;
}
.info_header_element{
    float:left;
    height: 80px;
    width:auto;
    padding:10px 10px;
    text-align:center;
}
.info_header_element h4,p{
    font-family: 'Segoe UI', serif;
    font-weight: 400;
    color: #040206;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}
.info_header_element p{
    color:#750000;
}
.info_body{
    height:auto;
    border-top: #b8ac97 solid 1px;
    min-height:120px;
    width:850px;
    margin-top: 10px;
    
}
.info_body_element{
    width:100%;
    height:20px;
    padding:10px 10px 10px 15px;
}
.info_body_element h4{
    font-family: 'Segoe UI', serif;
    font-weight: 400;
    margin:0;
    float:left;
    color:#2f2f2f;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}
.info_body_element span{
    float:left;
    padding-left:25px;
    color:#990000;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}
.float_none{
    clear:both;
}

#change-form{
    margin-top: 50px;
}
#change-form h2,#change-form h5{
    font-family: 'Segoe UI', serif;
    font-weight: 300;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}
#change-form h2{
    color:#040206;
    margin-bottom:7px;
}
#change-form h5{
    color:#990000;
     margin-bottom:4px;
}
.input-tag{
    float:left;
    margin:0;
    padding: 10px 20px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
        
        box-shadow: 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.50);
    
    
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

/*Footer*/
footer{
    height: 200px;
    width: 100%;
    background-color: #4e529a;
    float: left;
    
}