<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Miner - Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/mining_css.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
        <script type="text/javascript" src="js/getInfo.js"></script>
    </head>
    <body>
        <header>
            <div id="header_wrapper">
                <div class="banner"></div>
                <div class="navigation">
                    <div class="navigation_element">
                        <a href="overview.html">Overview</a>
                    </div>
                    <div class="navigation_element">
                        <a href="changes.html">Control panel</a>
                    </div>
                    <div class="navigation_element">
                        <a href="changes.html">Log out</a>
                    </div>
                </div>
            </div>
        </header>
        <section id="main">
            <div id="main_wrapper">
                <div class="info_wrapper">
                    <div class="info_header">
                         <div class="float_none"></div>
                        <div class="info_header_element"><h4>Server</h4><p>127.0.0.1</p></div>
                        <div class="info_header_element"><h4>Stratum url</h4><p>pool.something</p></div>
                        <div class="info_header_element"><h4>Hash speed</h4><p>705 kh/s</p></div>
                        <div class="info_header_element"><h4>Accepted</h4><p>34590</p></div>
                        <div class="info_header_element"><h4>Rejected</h4><p>1</p></div>
                        <div class="info_header_element"><h4>Hardware error</h4><p>234</p></div>
                         <div class="float_none"></div>
                    </div>
                    <div class="float_none"></div>
                    <div class="info_body">
                        <div class="info_body_element"><h4>GPU 1</h4><span>124 c</span></div>
                        <div class="info_body_element"><h4>GPU 2</h4><span>1224 c</span></div>
                        <div class="info_body_element"><h4>GPU 3</h4><span>14 c</span></div>
                    </div>
                     <div class="float_none"></div>
                </div>
            </div>
            <div id="main_wrapper">
                <div class="info_wrapper">
                    <div class="info_header">
                         <div class="float_none"></div>
                        <div class="info_header_element"><h4>Server</h4><p>127.0.0.1</p></div>
                        <div class="info_header_element"><h4>Stratum url</h4><p>pool.something</p></div>
                        <div class="info_header_element"><h4>Hash speed</h4><p>705 kh/s</p></div>
                        <div class="info_header_element"><h4>Accepted</h4><p>34590</p></div>
                        <div class="info_header_element"><h4>Rejected</h4><p>1</p></div>
                        <div class="info_header_element"><h4>Hardware error</h4><p>234</p></div>
                         <div class="float_none"></div>
                    </div>
                    <div class="float_none"></div>
                    <div class="info_body">
                        <div class="info_body_element"><h4>GPU 1</h4><span>124 c</span></div>
                        <div class="info_body_element"><h4>GPU 2</h4><span>1224 c</span></div>
                        <div class="info_body_element"><h4>GPU 3</h4><span>14 c</span></div>
                    </div>
                     <div class="float_none"></div>
                </div>
            </div>
            <div id="main_wrapper">
                <div class="info_wrapper">
                    <div class="info_header">
                         <div class="float_none"></div>
                        <div class="info_header_element"><h4>Server</h4><p>127.0.0.1</p></div>
                        <div class="info_header_element"><h4>Stratum url</h4><p>pool.something</p></div>
                        <div class="info_header_element"><h4>Hash speed</h4><p>705 kh/s</p></div>
                        <div class="info_header_element"><h4>Accepted</h4><p>34590</p></div>
                        <div class="info_header_element"><h4>Rejected</h4><p>1</p></div>
                        <div class="info_header_element"><h4>Hardware error</h4><p>234</p></div>
                         <div class="float_none"></div>
                    </div>
                    <div class="float_none"></div>
                    <div class="info_body">
                        <div class="info_body_element"><h4>GPU 1</h4><span>124 c</span></div>
                        <div class="info_body_element"><h4>GPU 2</h4><span>1224 c</span></div>
                        <div class="info_body_element"><h4>GPU 3</h4><span>14 c</span></div>
                    </div>
                     <div class="float_none"></div>
                </div>
            </div>
        </section>
    </body>
</html>
