<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Miner - Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/mining_css.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
        <script type="text/javascript" src="js/login.js"></script>
    </head>
    <body>
        <header>
            <div id="header_wrapper">
                <div class="banner"></div>
                <div class="navigation">
                    <div class="navigation_element">
                        <a href="overview.html">Overview</a>
                    </div>
                    <div class="navigation_element">
                        <a href="changes.html">Control panel</a>
                    </div>
                    <div class="navigation_element">
                        <a href="changes.html">Log out</a>
                    </div>
                </div>
            </div>
        </header>
        <section id="main">
            <div id="main_wrapper">
                <div class="sub_navigation">
                    <div class="navigation">
                        <div class="navigation_element">
                            <a href="overview.html">Overview</a>
                        </div>
                        <div class="navigation_element">
                            <a href="changes.html">Control panel</a>
                        </div>
                        <div class="navigation_element">
                            <a href="changes.html">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
