<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Miner - Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/mining_css.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
        <script type="text/javascript" src="js/login.js"></script>
    </head>
    <body>
        <header>
            <div id="header_wrapper">
                <div class="banner"></div>
                <div class="navigation">
                    <div class="navigation_element">
                        <a href="overview.html">Overview</a>
                    </div>
                    <div class="navigation_element">
                        <a href="changes.html">Control panel</a>
                    </div>
                    <div class="navigation_element">
                        <a href="changes.html">Log out</a>
                    </div>
                </div>
            </div>
        </header>
        <section id="main">
            <div id="main_content">
                <div class="sub_navigation">
                    <div class="sub_navigation_element">
                        <a href="overview.html">Status</a>
                    </div>
                    <div class="sub_navigation_element">
                        <a href="changes.html">Chart</a>
                    </div>
                </div>
                <div id="main_info">
                    <div class="info_wrapper">
                        <h2>Rig - 192.168.2.1</h2>
                        <div class="rig_info">
                                <div class="rig_info_headers_element"><h4>Speed</h4><p>174</p></div>
                                <div class="rig_info_headers_element"><h4>Accepted</h4><p>4000</p></div>
                                <div class="rig_info_headers_element"><h4>Rejected</h4><p>32</p></div>
                                <div class="rig_info_headers_element"><h4>Hardware errors</h4><p>14</p></div>
                        </div>
                        <div class="info_headers">
                            <div class="info_headers_element"><h4>GPU - number</h4></div>
                            <div class="info_headers_element"><h4>Temp</h4></div>
                        </div>
                        <div class="info_values">
                            <div class="info_values_element"><p>0</p></div>
                            <div class="info_values_element"><p>68.4</p></div>
                        </div>      
                        <div class="info_values">
                            <div class="info_values_element"><p>1</p></div>
                            <div class="info_values_element"><p>128.4</p></div>
                        </div>      
                        <div class="info_values">
                            <div class="info_values_element"><p>2</p></div>
                            <div class="info_values_element"><p>98.4</p></div>
                        </div> 
                        <div class="clear"></div>
                    </div>
                    <div class="info_wrapper">
                        <h2>Rig - 192.168.2.1</h2>
                        <div class="rig_info">
                                <div class="rig_info_headers_element"><h4>Speed</h4><p>174</p></div>
                                <div class="rig_info_headers_element"><h4>Accepted</h4><p>4000</p></div>
                                <div class="rig_info_headers_element"><h4>Rejected</h4><p>32</p></div>
                                <div class="rig_info_headers_element"><h4>Hardware errors</h4><p>14</p></div>
                        </div>
                        <div class="info_headers">
                            <div class="info_headers_element"><h4>GPU - number</h4></div>
                            <div class="info_headers_element"><h4>Temp</h4></div>
                        </div>
                        <div class="info_values">
                            <div class="info_values_element"><p>0</p></div>
                            <div class="info_values_element"><p>68.4</p></div>
                        </div>      
                        <div class="info_values">
                            <div class="info_values_element"><p>1</p></div>
                            <div class="info_values_element"><p>128.4</p></div>
                        </div>      
                        <div class="info_values">
                            <div class="info_values_element"><p>2</p></div>
                            <div class="info_values_element"><p>98.4</p></div>
                        </div>      
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
